In [2]:
import pandas as pd
df = pd.read_csv("dataset.csv")
df

    age  experience  income
0    25           1   30450
1    30           3   35670
2    47           2   31580
3    32           5   40130
4    43          10   47830
5    51           7   41630
6    28           5   41340
7    33           4   37650
8    37           5   40250
9    39           8   45150
10   29           1   27840
11   47           9   46110
12   54           5   36720
13   51           4   34800
14   44          12   51300
15   41           6   38900
16   58          17   63600
17   23           1   30870
18   44           9   44190
19   37          10   48700

In [3]:
print(df.head())
print(df.columns)
print(df.shape)

   age  experience  income
0   25           1   30450
1   30           3   35670
2   47           2   31580
3   32           5   40130
4   43          10   47830
Index(['age', 'experience', 'income'], dtype='object')
(20, 3)

In [52]:
X = df[["age","experience"]]
y= df["income"]

In [53]:
X

    age  experience
0    25           1
1    30           3
2    47           2
3    32           5
4    43          10
5    51           7
6    28           5
7    33           4
8    37           5
9    39           8
10   29           1
11   47           9
12   54           5
13   51           4
14   44          12
15   41           6
16   58          17
17   23           1
18   44           9
19   37          10

In [54]:
y

0     30450
1     35670
2     31580
3     40130
4     47830
5     41630
6     41340
7     37650
8     40250
9     45150
10    27840
11    46110
12    36720
13    34800
14    51300
15    38900
16    63600
17    30870
18    44190
19    48700
Name: income, dtype: int64

In [55]:
import numpy as np
n_features = X.shape[1]
print(n_features)
w= np.zeros(n_features)
b= 0.0

2

Forward Pass

In [56]:
def predict(X,w,b):
    """
    X: input features
    w: weights
    b: bias
    """ 
    y_pred= X.dot(w)+b
    return y_pred

Loss Function

In [57]:
def mean_squared_error(y,y_pred):
    """
    y: actual values
    y_pred: predicted values
    """
    
    loss= ((y_pred-y)**2).mean()
    return loss

Compute Gradients

In [58]:
def compute_gradients(X,y,y_pred):
    N= len(y)
    
    #Gradient wrt weights
    dw= (2/N)*X.T.dot(y_pred-y)
    
    #Gradient wrt bias
    db= (2/N)*(y_pred-y).sum()
    return dw,db

Update Parameters(Gradient Descent)

In [59]:
def update_parameters(w,b,dw,db,lr):
    w=w-dw*lr
    b=b-db*lr
    return w,b
lr=0.0001
epochs=100000

Training Loop

In [ ]:
for epoch in range(epochs):
    y_pred= predict(X,w,b)
    loss= mean_squared_error(y,y_pred)
    dw,db= compute_gradients(X,y,y_pred)
    w,b = update_parameters(w,b,dw,db,lr)
    print(y_pred)
    print(w,b)
    print("Loss: ",loss)

In [44]:
w_final=w
b_final=b
print(w_final,b_final)

age            160.15632
experience    1967.99663
dtype: float64 21677.72799835227

Let us store the predictions now

In [64]:
df_pred= df.copy()
df_pred["y_pred"]= y_pred
df_pred.to_csv("result.csv",index=False)
print(df_pred)

    age  experience  income        y_pred
0    25           1   30450  24603.416543
1    30           3   35670  30179.689438
2    47           2   31580  35190.710457
3    32           5   40130  34556.091954
4    43          10   47830  47896.839001
5    51           7   41630  45731.759952
6    28           5   41340  32956.264781
7    33           4   37650  33167.804282
8    37           5   40250  36555.875919
9    39           8   45150  42720.522899
10   29           1   27840  26203.243716
11   47           9   46110  47708.421709
12   54           5   36720  43355.141402
13   51           4   34800  40367.026558
14   44          12   51300  51873.284723
15   41           6   38900  39943.947556
16   58          17   63600  66413.902150
17   23           1   30870  23803.502957
18   44           9   44190  46508.551330
19   37          10   48700  45497.098242